@font-face {
    font-family: "dancingFont";
    src: url('family/DancingScript-Regular.otf');
}
@font-face {
    font-family: "staticF";
    src: url("family/Static.otf");
}
@font-face {
    font-family: "Entra";
    src: url("family/ENTRA-Caps.otf");
}
body{
    text-align:center;
    margin:0px;
    background-attachment: fixed;
}
h1{
    padding:4px;
    width:300px;
}
*{
    margin-left:auto;
    margin-right:auto;
}
.form300{
    padding:2px;
    width:350px;
}
input.noRadio{
    float:right;
}
/*img{
    transition-duration: 2s;
}
img:hover{
    transform:scale(1.05);
    transition-duration: 2s;
}*/
#p{
    font-size:200%;
    width: 300px;
}
header{
    font-size:350%;
    height :250px;
    padding-left: 50px;
    background-image:url(../images/ponton.jpg);
    background-attachment: fixed;
    border-bottom: 2px solid white;
}
footer{
    font-size:200%;
    margin-top:10px;
}
.floatLeft,label.noRadio{
    float:left;
}
.divRight{
    float:right;
}
.divRight,.divLeft{
    height: 300px;
    width:200px;
    margin:20px;
    font-size: 200%;
    padding:15px;
}
.vide{
    height: 700px;
}
h1,form,.divLeft,.divRight,footer{
    opacity: 0.65;
}
.menu{
    border:0;
    opacity: 1;
    display: inline;
}
h1,form,.divLeft,.divRight,.centre,#p,header p{
    border:2px solid white;
}
h1,form,.divLeft,.divRight,#p,input,button{
    font-family: staticF;
}
header,footer,input.underHeaderP{
    font-family: dancingFont;
}
.centre{
    color: black;
    height: 275px;
    width:50%;
    font-size:350%;
    margin-top:150px;
    margin-bottom: 150px;
    font-family:Entra;
    font-style:italic;
    padding:15px;
    background-image:url(../images/chatLunettes.jpg);
    background-attachment: fixed;
}
.centre:hover{
    color: orange;
    background-image:url(../images/clown.jpg);
    background-attachment: inherit;
}
header p{
    padding: 15px;
    float: left;
    opacity: 0.8;
}
#underHeader{
    width:100%;
    height:80px;
    margin-bottom:10px;
    opacity:0.8;
    z-index:1;
}
input.underHeaderP{
    width:16%;
    font-size:150%;
    display:inline-block;
    cursor:pointer;
    border:0;
    margin-top:23px;
}
#underHeader button{
    float:right;
    margin-right:10px;
    margin-top:16px;
    border:0;
}
input.underHeaderNoP{
    height:40%;
    background-image: url(../images/fondDEcRouge.jpg);
    font-size:105%;
    float:right;
    margin-right:10px;
    margin-top:22px;
    border:2px solid;
    border-image-source: url(../images/fondDEcRouge.jpg);
    border-image-slice: 40;
}
.fixed{
    top: 0;
}
.fixedFlag{
    top:90px;
}
.fixedFlag,.fixed{
    position: fixed;
}
.scrollWait{
    height:90px;
}
#flag{
    padding:7px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
    float:right;
    z-index:1;
    right:0;
}
#flag img{
    margin-top:4px
}
#underHeader,header,footer,h1,form,.divLeft,.divRight,.centre,#p,#flag,header p,#underHeader button, input.underHeaderP{
    background-color: darkslategrey;
}
button{
    cursor:pointer;
}
body,a,#underHeader input{
    color:white;
}
#formUser{
    height:125px;
    width: 250px;
}
[type="radio"]{
    float:left;
    margin-top: 6px;
}
[for="boy"],[for="girl"]{
    float: left;
    margin-left: 20px
}
.registration{
    width:40%;
    padding:5px;
}
#loupe{
    z-index: 1;
}